.form {
  background-color: #132D46;
  padding: 40px;
  gap: 22px;
  border-radius: 16px;
  width: 420px;
  display: flex;
  flex-direction: column;
  margin: 75px 0px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.label {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 6px;
}

.input {
  height: 20px;
  padding: 12px 16px;
  border-radius: 10px;
  border: 2px solid #00CC99;
  background-color: #FFFFFF;
  color: #6c757d;
  outline: none;
  font-size: 18px;
  font-weight: 700;
}

.error {
  color: #ff6b6b;
  font-size: 14px;
  margin: 0;
}

.button {
  width: 125px;
  padding: 12px 16px;
  border-radius: 10px;
  background-color: #00CC99;
  color:  #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  align-self: center;
}

.button:disabled {
  cursor: default;
}

.switchText {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}

.switchBtn {
  background: transparent;
  border: none;
  color:#FFFFFF;
  font-weight: 700;
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
  font-size: 18PX;
}
