body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.roominfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    color: #132D46;
    font-weight: 700;
}

.roomview{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offline{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
