.container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
}

.inner {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 10px;
  color: #132D46;
}

.subheading {
  font-size: 30px;
  font-weight: 500;
  line-height: 100%;
  color: #353f4f;
}

.image {
  width: 400px;
  border-radius: 8px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
