.form {
  background-color:#132D46;
  padding: 40px;
  gap: 22px;
  border-radius: 16px;
  width: 420px;
  display: flex;
  flex-direction: column;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
}

.input {
  height: 20px;
  padding: 12px 16px;
  border-radius: 10px;
  border: 2px solid #00CC99;
  background-color: #FFFFFF;
  color: #6c757d;
  outline: none;
  font-size: 18px;
  font-weight: 700;
}

.error {
  color: #ff6b6b;
  font-size: 12px;
  margin: 0;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 6px;
}

.button {
  width: 100px;
  padding: 12px 16px;
  border-radius: 10px;
  background-color: #00CC99;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.button:disabled {
  cursor: default;
}

.signupText {
  color:#FFFFFF;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
  
}

.signupBtn {
  background: transparent;
  border: none;
  color: #FFFFFF;
  font-weight: 700;
  cursor: pointer;
  padding: 0;
  font-size: 18px;
  text-decoration: underline;
}
