@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html {
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
} 

body {
  font-family: 'Lexend', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #6c757d;
  line-height: 1.6666;
  font-weight: 500;
}
