body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.navigation{
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}


