body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.specificdashboard{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: #132D46;
    font-weight: 700;
    margin-bottom: 2%;
}

.count_chart{
    width: 100%;
    margin-top: 5%;
    font-size: 12px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.blink {
  background-color: #ff0000;
  color: #ffffff;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  transition: all 0.3s ease;
  animation: alertPulse 1.5s infinite;
}

@keyframes alertPulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}